<?php
$parameters = array(
	'db_driver' => 'pdo_mysql',
	'install_source' => 'Docker',
	'db_host' => 'mysql',
	'db_name' => 'mautic',
	'db_user' => 'mautic',
	'db_password' => 'mautic',
	'db_table_prefix' => null,
	'db_port' => '3306',
	'db_backup_tables' => 1,
	'db_backup_prefix' => 'bak_',
	'db_server_version' => '5.5.5-10.1.19-MariaDB-1~jessie',
	'mailer_from_name' => 'admin 1001pharmacies',
	'mailer_from_email' => 'contact@1001pharmacies.com',
	'mailer_transport' => 'mail',
	'mailer_host' => null,
	'mailer_port' => null,
	'mailer_user' => 'admin',
	'mailer_password' => 'admin',
	'mailer_encryption' => null,
	'mailer_auth_mode' => null,
	'mailer_spool_type' => 'memory',
	'mailer_spool_path' => '%kernel.root_dir%/spool',
	'secret_key' => 'ffb8fcc6edf2a1b80f1d1169f350729c13836e1308b373967d791e9461d93851',
	'site_url' => 'mautic.local.1001pharmacies.com',
	'webroot' => null,
	'cache_path' => '/var/www/html/app/cache',
	'log_path' => '/var/www/html/app/logs',
	'image_path' => 'media/images',
	'tmp_path' => '/var/www/html/app/cache',
	'theme' => 'oxygen',
	'locale' => 'fr',
	'dev_hosts' => null,
);
